nav ul #modo {

    width: 40px;
    font-size: 35px;
    line-height: 80px;
    padding: 0px 35px;
    cursor: pointer;
}

.dark main {
    background-color: rgb(15, 64, 121);
}
.dark .darkmodebtn,
.dark .titulos,
.dark .explicacion-p,
.dark .explicacion-p2,
.dark .circuitos-p,
.dark .circuitos-lista p ,
.dark .pilotos-p2,
.dark .pilotos-p,
.dark .pilotos-lista ul p,
.dark .organizacion-p,
.dark .motores-p,
.dark .equipos-p,
.dark .equipos-lista p .dark #modo {
    color: rgb(224, 218, 218);
}

.dark nav {
    background-color: black;
}

.dark .equipos li:hover {
    color: rgb(255, 255, 255);
}